
.svelte-flow.dark {
  /* --xy-background-color: "red"; */
  --xy-edge-stroke-default: #cd3838;
  --xy-edge-stroke-width-default: 2;
}

.svelte-flow__controls-button {
  width: 36px;
  height: 36px;
}


.svelte-flow {
  /* --xy-background-color: var(--tint-blue); */
  --xy-background-color: var(--color-bg-1);
}


.svelte-flow__node {
  background: var(--color-bg-3);
  border: 0.5px solid var(--color-border-default);
  border-radius: var(--radius-md);
  width: 6.5rem;
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.svelte-flow__node.selected {
  background: var(--tint-magenta);
  /* outline: 2px solid var(--color-accent);
  outline-offset: 2px; */
}

.svelte-flow__node-function {

}

.svelte-flow__node-graphio {
  width: 5.25rem;
}




.svelte-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--tint-blue);
}

/* .svelte-flow__edge {
  stroke-width: 6;
} */

.svelte-flow__edge-path {
  stroke: #8d9fb5;
  /* stroke-width: 1.5;
  stroke-dasharray: 3 2;
  stroke-dashoffset: 2; */
}

.svelte-flow__edge.animated {
  stroke: #ff8800;
}
