.svelte-flow {
}

.svelte-flow__node-default {
  padding: 0;
  width: 120px;
  border-width: 0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #161616;
}

.svelte-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #556f85;
}

.svelte-flow__edge {
  /* stroke-width: 16; */
}

.svelte-flow__edge-path {
  stroke: #a143d8;
  stroke-width: 1.5;
  stroke-dasharray: 3 2;
  stroke-dashoffset: 2;
}

.svelte-flow__edge.animated {
  stroke: #FF8800;
}