.svelte-flow {
}

.svelte-flow__node-function {
  width: 120px;
  border-width: 0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #161616;
  border-radius: 4px;
}

.svelte-flow__node-graphio {
  width: 120px;
  border-width: 0.5px;
  background-color: #ce4e4e;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}




.svelte-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #556f85;
}

.svelte-flow__edge {
  /* stroke-width: 16; */
}

.svelte-flow__edge-path {
  stroke: #8d9fb5;
  /* stroke-width: 1.5;
  stroke-dasharray: 3 2;
  stroke-dashoffset: 2; */
}

.svelte-flow__edge.animated {
  stroke: #ff8800;
}
