div.uj-panel {
  background-color: #484848;
  padding: 2px 4px;
  font-size: smaller;
  border-radius: 2px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

}

div.uj-panel:hover {
  border-color: #686868;
}

div.uj-panel:active {
  border-color: #72c8ef;
}

button.uj-button {
  padding: 2px 4px;
  font-size: smaller;
}

.panel {
  padding: 2px 4px;
  width: 80%;
  font-weight: 600;
  border-width: 0px;
}






