.svelte-flow {

}

.svelte-flow__node-default {
    padding: 0;
    width: 120px;
    border-width: 0.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #161616;
}

.svelte-flow__handle {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #556f85;
}