:root {
  /* --color-grey-0: #0A0A0A;
  --color-grey-1: #171717;
  --color-grey-2: #262626;
  --color-grey-3: #373737;
  --color-grey-4: #525252;

  --color-grey-5: #8A8A8A;
  --color-grey-6: #A3A3A3;
  --color-grey-7: #CDCDCD;
  --color-grey-8: #E5E5E5;
  --color-grey-9: #FAFAFA; */


  --color-bg-0: #FAFAFA;
  --color-bg-1: #e2e4e8;
  --color-bg-2: #d5d9df;
  --color-bg-3: #c2c6cf;
  --color-bg-4: #aeb5c2;

  --color-text-hi-con: rgb(0 0 0 / 0.87);
  --color-text-md-con: rgb(0 0 0 / 0.60);
  --color-text-lo-con: rgb(0 0 0 / 0.38);
  --color-text-error: #B00020;

  /* --color-border-subtle: #232834;
  --color-border-default: #2e3442;
  --color-border-strong: #3a4154; */

  --color-border-subtle: rgb(0 0 0 / 0.15);
  --color-border-default: rgb(0 0 0 / 0.38);
  --color-border-strong: rgb(0 0 0 / 0.60);

  --shadow-panel:
    1px 1px 1px rgba(0,0,0,0.20);
  --shadow-popup:
    0px 6px 10px rgba(0,0,0,0.45);

  --color-accent: #001aff;
  --color-accent-fill: #2140a5;
  --color-accent-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-0: #0A0E15;
    --color-bg-1: #171b23;
    --color-bg-2: #1f252d;
    --color-bg-3: #313643;
    --color-bg-4: #424957;

    --color-text-hi-con: rgb(255 255 255 / 0.87);
    --color-text-md-con: rgb(255 255 255 / 0.60);
    --color-text-lo-con: rgb(255 255 255 / 0.38);
    --color-text-error: #ff486C;

    --color-border-subtle: rgb(255 255 255 / 0.15);
    --color-border-default: rgb(255 255 255 / 0.38);
    --color-border-strong: rgb(255 255 255 / 0.60);
  }
}